@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600;700;800&display=swap');

* {
    box-sizing: border-box;
}

.nav-bar {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-img {
    height: 50px;
    width: 70px;
    margin-top: 25px;
}

.nav-header {
    text-align: center;
    /* font-family: sans-serif; */
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.title-color {
    color: hotpink;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.nav-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    height: 30px;
    width: 170px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-options a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.play-like-the {
    color: #0B0223;
    /* text-align: center;
font-family: Work Sans; */
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    text-transform: uppercase;
}

.goat {
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 800;
    /* line-height: normal; */
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: auto;

}

.header-privilege {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

.header-description {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
}

.header-title-container {
    margin-top: 100px;
}

.btn {
    display: flex;
    gap: 10px;

}

.button-one {
    border-radius: 12px;
    color: white;
    border: none;
    background-color: hotpink;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.button-two {
    border-radius: 12px;
    color: white;
    border: none;
    background-color: rgb(41, 149, 192);
    height: 40px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;

}

.main-section {
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

.main-description {
    margin-right: 50px;
}

.main-section-paragraph {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.main-section-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-paragraph-one {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
    margin-left: 170px;
}

.main-paragraph-two {
    color: #534C64;
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

.online-games {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.collection {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.card-section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 100px;

}

.card-img {
    width: 200px;
}

.cards-caption {
    color: #534C64;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 150% */
}

.position {
    display: flex;
    justify-content: right;
    gap: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.position-img {
    position: relative;
    /* width: 700px; */

}

.position-img-two {
    position: absolute;
    left: -100px;
    /* bottom: 0px; */
    top: 350px;
}

.button {
    width: 245px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: #FFF;
    cursor: pointer;
}

.button-caption {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

button:hover {

    background-color: pink;

}

.button-section {
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-section{
    height: 500px;
    background-color: #0B0223;
   
    
  
}
.footer-header{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-header-color{
    color: #FFF;
}
.footer-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    flex-wrap: wrap;
}
.footer-option{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/* .brand-icons{
    height: 60px;
    width: 60px;
} */
.footer-icons{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
    flex-wrap: wrap;
}
.terms-privacy{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
    flex-wrap: wrap;
}
.footer-paragraph{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.gamer-bd{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

@media screen and (max-width:576px) {

    .nav-options,
    .nav-bar,
    .main-section,
    .card-section,
    .position,
    .position-img-one,
    .position-img-two {
        flex-direction: column;
    }

    .header-description {
        flex-direction: column;
    }

    .header-description {
        width: 77%;

    }

    .goat {
        width: 100%;
    }

    .main-section {
        flex-direction: column;

    }

    .card-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }

    .position {

        padding-left: 60px;
    }

    .position-img-one {
        width: 350px;
        height: 400px;
    }

    .position-img-two {
        width: 200px;
        height: 200px;
        left: -50px;

    }

    /* .button{
        width: 220px;
        height: 50px;
    }
    .button-section{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr); */
}




@media screen and (min-width:577px) and (max-width:992px) {

    .nav-options,
    .nav-bar,
    .main-section,
    .position {
        flex-direction: column;

    }

    .header-description {
        flex-direction: column;
    }

    .header-description {
        width: 77%;
    }

    .goat {
        width: 100%;
    }

    .card-section {
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);

    }

    .main-paragraph-one,
    .main-paragraph-two {
        padding-left: 200px;
    }

    .position {

        padding-left: 200px;
    }

    .position-img-one {
        width: 400px;
        height: 400px;
    }

    .position-img-two {
        width: 200px;
        height: 200px;
        left: -50px;

    }



}